<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>User Create</title>
</head>
<body>
<form action="#" th:action="@{/user_create}" th:object="${user}" method="post">
    <label for="firstname">First name</label>
    <input type="text" th:field="*{firstname}" id="firstname" placeholder="First Name">
    <label for="lastname">Last name</label>
    <input type="text" th:field="*{lastname}" id="lastname" placeholder="Last Name">
    <label for="login">Login</label>
    <input type="text" th:field="*{login}" id="login" placeholder="Login">
    <label for="password">Password</label>
    <input type="password" th:field="*{password}" id="password" placeholder="Password">
    <input type="submit" value="Create User">
</form>
</body>
</html>
